// -------------------- COLORS --------------------------//

$primary-blue: #3d8fec;
$primary-gray-dark: #616c82;

$neutral-black: #555555;
$neutral-gray: #f8fafb;
$neutral-blue: #f4f8ff;

$statuses-green: #50b810;
$statuses-violet: #b233a6;

$border-radius-m: 7px;
$border-radius-s: 4px;

@mixin card-shadow {
    box-shadow: 0px 1px 2px 0px #d0daeb, 0px 0px 2px 0px #eef4fe;
}

// --------------- Typography -------------------
@mixin font-body-s {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}

@mixin font-body-m {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
}

@mixin font-body-l {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
}

@mixin font-tag-m {
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
}
